<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link href="{{ url_for('static', filename='basic.css') }}" rel="stylesheet">#}
    {#    <link href="{{ url_for('static', filename='pygments.css') }}" rel="stylesheet">#}
    {#    <link href="{{ url_for('static', filename='pygments14.css') }}" rel="stylesheet">#}

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='doctools.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore.js') }}"></script>
    <style type="text/css">
        {{ css | safe}}
    </style>
    <title>代码着色</title>
</head>
<body>
<div>
    {{ code|safe }}
</div>
</body>
</html>