<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body >
    <h2><a href="/">首页</a>-<a>时间戳工具</a></h2>
    <table width="1300px">
        <thead class="hide">
            <th width=""></th>
            <th width=""></th>
        </thead>
        <tbody>
        <tr>
            <td>当前时间戳:</td>
            <td><input type="text" value="{{ now }}"></td>
        </tr>
        <tr>
            <td>当前时间:</td>
            <td><input type="text" value="{{ sj }}"></td>
        </tr>

        <tr>
            <td>时间戳转时间:</td>
            <td>
                <input type="text" value="">
                <button>转换</button>
                <input type="text" value="">
            </td>
        </tr>

        <tr>
            <td>时间转时间戳:</td>
            <td>
                <input type="text" value="">
                <button>转换</button>
                <input type="text" value="">
            </td>
        </tr>


        </tbody>
    </table>
</body>
</html>